<footer>
  <div class="container-header-xl">
    <div class="wrap-footer-content">
      <div class="wrap-logo">
        <img src="img/logo.png" alt="logotip">
        <span class="logo-text">LIGA-Online</span>
      </div>
      <div class="wrap-footer-nav">
        <div class="footer-nav">
          <li><i class="icon-footer icon-ico-trophy"></i><a href="#">Сезоны</a></li>
          <li><i class="icon-footer icon-ico-star"></i><a href="#">Рейтинги</a></li>
          <li><i class="icon-footer icon-Vector2"></i><a href="#">Новости</a></li>
          <li class="footer-item-mobile"><i class="icon-footer icon-icon-info"></i><a href="#">О проекте</a></li>
        </div>
        <div class="footer-nav">
          <li class="footer-item-mobile-hidden"><i class="icon-footer icon-icon-info"></i><a href="#">О проекте</a></li>
          <li class="m0"><i class="icon-footer icon-ico-docs1"></i><a href="#">Регламент</a></li>
          <li><i class="icon-footer icon-ico-faq"></i><a href="#">FAQ</a></li>
          <li class="footer-item-mobile"><a href="#">Пользовательское соглашение</a></li>
          <li class="footer-item-mobile"><a href="#">Политика конфеденциальности</a></li>
        </div>
        <div class="footer-nav">
          <li class="footer-item-mobile-hidden"><a href="#">Пользовательское соглашение</a></li>
          <li class="footer-item-mobile-hidden"><a href="#">Политика конфеденциальности</a></li>
        </div>
        <div class="wrap-footer-social">
          <ul class="footer-social">
            <li class="footer-social-item">Связь:</li>
            <li class="footer-social-item">
              <a href="#" class="icon-vk">
								<span class="path1 path2 footer-vk"></span>
							</a>
            </li>
            <li class="footer-social-item">
              <a href="#">
								<span class="icon-mail footer-mail">
									<span class="path1"></span>
									<span class="path2"></span>
									<span class="path3"></span>
									<span class="path4"></span>
									<span class="path5"></span>
								</span>
							</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wrap-copyright">
        <div class="copyright">© Liga-Online, 2018</div>
        <div class="author">Разработка сайта
          <img src="img/logo-brand.png" alt="logo-brand" class="logo-brand" width="114" height="21">
        </div>
      </div>
    </div>
  </div>
</footer>