<header class="header theme-shadow">
  <div class="container-header-xl">
    <div class="wrap-top-menu">
      <div class="btn-back">
      </div>
      <div class="wrap-logo">
        <img src="img/logo.png" alt="logotip">
        <span class="logo-text">LIGA-Online</span>
      </div>
      <div class="wrap-top-nav">
        <ul class="top-nav">
          <li class="top-nav__item"><a href="#"><i class="icon-top icon-ico-trophy"></i>Сезоны</a></li>
          <li class="top-nav__item"><a href="#"><i class="icon-top icon-ico-star"></i>Рейтинги</a></li>
          <li class="top-nav__item"><a href="#"><i class="icon-top icon-ico-setting"></i>Админпанель</a></li>
        </ul>
      </div>
      <div class="wrap-top-autorisation">
        <ul class="top-autorisation">
          <li class="top-autorisation__item"><a href="#">Регистрация</a></li>
          <li class="top-autorisation__item"><a href="#">Вход</a></li>
        </ul>
      </div>

      <div class="wrap-top-profile">
        <ul class="top-profile">
          <li class="top-profile-nickname"><a href="#">Accont_nickname</a></li>
          <li class="top-profile-logo"><a href="#"><img src="img/avatar_profile.png" alt="avatar_profile"></a></li>
          <li class="top-profile-out"><a href="#">Выход</a></li>
        </ul>
      </div>
      <div class="btn-burger-mobile  burger-notification ">
        <span class="btn-burger"></span>
      </div>
    </div>
  </div>
  <div class="container-header-xl"> 
    <div class="wrap-notifications">
      <div class="notification">Уведомлений<span class="notification_num">3</span></div>
      <div class="wrap-rating"> 
        <ul class="star-rating">
          <li class="star-rating__item"><span class="icon-star-full"></span></li>
          <li class="star-rating__item "><span class="icon-ico-star"></span></li>
          <li class="star-rating__item "><span class="icon-ico-star"></span></li>
          <li class="star-rating__item "><span class="icon-ico-star"></span></li>
          <li class="star-rating__item "><span class="icon-ico-star"></span></li>
        </ul>
        <div class="rating">Рейтинг: 700</div>
      </div> 
    </div>
  </div>

</header>

  <div class="wrap-nav-mobile">
    <ul class="nav-mobile">
      <li class="icon-ico-trophy icon-top"><a href="#">Сезоны</a></li>
      <li  class="icon-ico-star icon-top"><a href="#">Рейтинги</a></li>
      <li  class="icon-icon-person icon-top"><a href="#">Профили</a></li>
      <li  class="icon-mail-envelope-closed icon-top"><a href="#">Уведомления<span class="notification_num">3</span></a></li>
      <li  class="icon-ico-exit icon-top"><a href="#">Выход</a></li>
    </ul>
  </div>