<section>
  <div class="wrap-section-news">
    <div class="container-content">
      <h2 class="title-section">Новости</h2>
      <div class="wrap_news_cards">
        <div class="wrap-news_card theme-boss">
          <div class="news_card">
            <div class="header_news_card">
              <div class="title_date"> 08 Февраля 2018</div>
              <div class="news-card-content">Глава немецкого футбольного союза раскритиковал киберфутбол</div>
            </div>
            <a href="#" class="btn-news">Читать подробнее</a>
          </div>
        </div>
        <div class="wrap-news_card theme-box">
          <div class="news_card">
            <div class="header_news_card">
              <div class="title_date"> 07 Февраля 2018</div>
              <div class="news-card-content">Германия признает киберспорт официальным видом спорта</div>
            </div>
            <a href="#" class="btn-news">Читать подробнее</a>
          </div>
        </div>
        <div class="wrap-news_card theme-teenager">
          <div class="news_card">
            <div class="header_news_card">
              <div class="title_date"> 06 Февраля 2018</div>
              <div class="news-card-content">16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18</div>
            </div>
            <a href="#" class="btn-news">Читать подробнее</a>
          </div>
        </div>
      </div>
      <div class="owl-carousel">
        <div class="item">
          <div class="wrap-news_card theme-boss">
            <div class="news_card">
              <div class="header_news_card">
                <div class="title_date"> 08 Февраля 2018</div>
                <div class="news-card-content">Глава немецкого футбольного союза раскритиковал киберфутбол</div>
              </div>
              <a href="#" class="btn-news">Читать подробнее</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrap-news_card theme-box">
            <div class="news_card">
              <div class="header_news_card">
                <div class="title_date"> 07 Февраля 2018</div>
                <div class="news-card-content">Германия признает киберспорт официальным видом спорта</div>
              </div>
              <a href="#" class="btn-news">Читать подробнее</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrap-news_card theme-teenager">
            <div class="news_card">
              <div class="header_news_card">
                <div class="title_date"> 06 Февраля 2018</div>
                <div class="news-card-content theme-width">16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18</div>
              </div>
              <a href="#" class="btn-news">Читать подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="counter mb">
      </div>
    </div>
  </div>
  </div>
</section>