<section>
  <div class="container-content">
    <h2 class="title-section">Новые сезоны</h2>
    <div class="wrap-section-cards">
      <div class="wrap-section-cards__item">
        <div class="wrap-card-header">
          <div class="card-header">
            <h3 class="title-card">fast cup 1x1</h3>
            <img src="img/fast_cup.jpg" alt="fast_cup">
          </div>
        </div>
        <div class="wrap-card-content">
          <ul class="card-content">
            <li class="card-content-item"><span class="icon-exclamation-solid"></span>Набор игроков</li>
            <li class="card-content-item"><span class="icon-ico-docs"></span>до 9 Апреля</li>
            <li class="card-content-item"><span class="icon-ico-star"></span>> 1000</li>
            <li class="card-content-item"><span class="icon-icon-people"></span> 7/16</li>
            <li class="card-content-item"><span class="icon-Vector-2"></span>PlayStation 4</li>
            <li class="card-content-item"><span class="icon-Vector-1"></span>10 Апреля - 12 Апреля</li>
            <li class="card-content-item"><span class="icon-icon-person"></span>Moderator</li>
          </ul>
          <a href="#" class="card-content-btn">перейти</a>
        </div>
      </div>
      <div class="wrap-section-cards__item">
        <div class="wrap-card-header theme_drift">
          <div class="card-header">
            <h3 class="title-card">fast cup 1x1</h3>
            <img src="img/fast_cup.jpg" alt="fast_cup">
          </div>
        </div>
        <div class="wrap-card-content">
          <ul class="card-content">
            <li class="card-content-item"><span class="icon-exclamation-solid"></span>Набор игроков</li>
            <li class="card-content-item"><span class="icon-ico-docs"></span>до 9 Апреля</li>
            <li class="card-content-item"><span class="icon-ico-star"></span>> 1000</li>
            <li class="card-content-item"><span class="icon-icon-people"></span> 7/16</li>
            <li class="card-content-item"><span class="icon-Vector-2"></span>Xbox One</li>
            <li class="card-content-item"><span class="icon-Vector-1"></span>10 Апреля - 12 Апреля</li>
            <li class="card-content-item"><span class="icon-icon-person"></span>Moderator</li>
          </ul>
          <a href="#" class="card-content-btn">перейти</a>
        </div>
      </div>
      <div class="wrap-section-cards__item">
        <div class="wrap-card-header theme-crue">
          <div class="card-header">
            <h3 class="title-card">fast cup 1x1</h3>
            <img src="img/fast_cup.jpg" alt="fast_cup">
          </div>
        </div>
        <div class="wrap-card-content">
          <ul class="card-content">
            <li class="card-content-item"><span class="icon-exclamation-solid"></span>Набор игроков</li>
            <li class="card-content-item"><span class="icon-ico-docs"></span>до 9 Апреля</li>
            <li class="card-content-item"><span class="icon-ico-star"></span>> 1000</li>
            <li class="card-content-item"><span class="icon-icon-people"></span> 7/16</li>
            <li class="card-content-item"><span class="icon-Vector-2"></span>PC</li>
            <li class="card-content-item"><span class="icon-Vector-1"></span>10 Апреля - 12 Апреля</li>
            <li class="card-content-item"><span class="icon-icon-person"></span>Moderator</li>
          </ul>
          <a href="#" class="card-content-btn">перейти</a>
        </div>
      </div>
    </div>
    <div class="wrap-season-btns">
      <div class="wrap-season-btn">
        <div class="more-cards">
          <a href="#" class="btn-more-cards">Показать больше новых турниров</a>
        </div>
      </div>
      <div class="wrap-season-btn theme_2">
        <div class="more-cards">
          <a href="#" class="btn-more-cards btn-theme_2">турниры в процессе</a>
        </div>
      </div>
      <div class="wrap-season-btn theme_3">
        <div class="more-cards">
          <a href="#" class="btn-more-cards btn-theme_3">завершенные турниры</a>
        </div>
      </div>
    </div>
    <div class="owl-carousel">
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap-section-cards__item">
          <div class="wrap-card-header">
            <div class="card-header">
              <h3 class="title-card">fast cup 1x1</h3>
              <img src="img/fast_cup.jpg" alt="fast_cup">
            </div>
          </div>
          <div class="wrap-card-content">
            <ul class="card-content">
              <li class="card-content-item"><span class="icon-slider icon-exclamation-solid"></span><span class="text-gray content-title">Статус:</span><span class="item-text theme_text_green">Набор игроков</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-docs"></span><span class="content-title">Регистрация:</span><span class="item-text">до 25 Марта</span></li>
              <li class="card-content-item"><span class="icon-slider icon-ico-star"></span><span class="content-title">Допустимый рейтинг:</span><span class="item-text">Любой</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-people"></span><span class="content-title">Игроков:</span><span class="item-text"> 7/32</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-2"></span><span class="content-title">Платформа:</span><span class="item-text">PlayStation 4</span></li>
              <li class="card-content-item"><span class="icon-slider icon-Vector-1"></span><span class="content-title">Дата:</span><span class="item-text">26 Марта - 29 Апреля</span></li>
              <li class="card-content-item"><span class="icon-slider icon-icon-person"></span><span class="content-title">Хост:</span><span class="item-text">Admin</span></li>
            </ul>
            <a href="#" class="card-content-btn">перейти</a>
          </div>
        </div>
      </div>
    </div>
    <div class="counter">
    </div>
  </div>
</section>