<section class="main">
  <div class="container-content">
    <div class="wrap-main-section">
      <div class="card-description">
        <h2 class="title theme-pink">Liga-online</h2>
        <p class="card-text">Мы организуем киберспортивные онлайн-турниры среди игроков FIFA18.</p>
        <p class="card-text">Присоединяйся к нам, побеждай соперников, повышай свой рейтинг и поборись за звание чемпиона среди профессионалов.</p>
        <div class="wrap-card-desription-img">
          <img src="img/DQbdt2HUIAI5Jes.jpg" alt="cup">
        </div>
      </div>
      <div class="card-advantages">
        <div class="card-advantages-item">
          <div class="card-advantage-content">
            <h2 class="title theme-light-blue">Активное комьюнити</h2>
            <p class="card-text comuniti-text">Общение с игроками в социальных сетях и мессенджерах.</p>
          </div>
          <div class="card-advantage-img img-comuniti">
            <img src="img/ico.png" alt="#">
          </div>
        </div>
        <div class="card-advantages-item">
          <div class="card-advantage-content">
            <h2 class="title theme-green">Федеральный охват</h2>
            <p class="card-text">Тысячи игроков по всей России и Казахстану уже с нами.</p>
          </div>
          <div class="card-advantage-img img-federal">
            <img src="img/ico1.png" alt="#">
          </div>
        </div>
        <div class="card-advantages-item">
          <div class="card-advantage-content">
            <h2 class="title theme-pink-custom">Регулярные чемпионаты</h2>
            <p class="card-text">Новые турниры каждую неделю.</p>
          </div>
          <div class="card-advantage-img img-chempions">
            <img src="img/ico2.png" alt="#">
          </div>
        </div>
      </div>

      <div class="card-registration">
        <h2 class="title theme-green">Регистрация</h2>
        <form>
          
          <div class="form-wrap">
            <input type="text" placeholder="Никнейм" class="input-custom">
          </div>
          <div class="form-wrap">
            <label class="select-icon">
              <select class="turnintodropdown input-custom select">
                <option selected hidden>Город</option>
                <option>Красноярск</option>
                <option>Канск</option>
                <option>Шотландия</option>
                <option>Уэльс</option>
                <option>Канск</option>
                <option>Шотландия</option>
              </select>
            </label>
          </div>
          <div class="form-wrap form-email">
            <input type="text" placeholder="Е-mail" class="input-custom">
          </div>
          <div class="form-wrap">
            <input type="password" placeholder="Пароль" class="input-custom">
          </div>
          <div class="form-wrap">
            <input type="password" placeholder="Повторите пароль" class="input-custom">
          </div>

          <div class="wrap-checkbox">
            <label class="label-checkbox">
              <input class="checkbox" type="checkbox" name="checkbox-test">
              <span class="checkbox-custom"></span>
              <span class="label">Регистрируясь, Вы соглашаетесь с <a href="#" class="document">пользовательским соглашением</a> и принимаете нашу <a href="#" class="document">политику конфиденциальности.</a></span>
            </label>
          </div>

          <a href="#" class="btn-submit"><span class="icon-speech-bubbles-comment-option icon-submit"> </span>Получать уведомления</a>
        </form>

        <div class="wrap-btn-autorisation">
          <a class="btn-registration" href="#">Зарегистрироваться</a>
          <a class="btn-autorisation" href="#">Вход</a>
        </div>

      </div>
      
      <div class="wrap-card-autorisations">
        <h3 class="title theme-light-blue">вход на сайт</h3>
        <form class="form-registration">
          <div class="form-wrap">
            <input type="text" class="input-custom" placeholder="E-mail">
          </div>
          <div class="form-wrap">
            <input type="password" class="input-custom" placeholder="Пароль">
          </div>
          <a href="#" class="recover">Забыли пароль?</a>
          <div class="wrap-btn-autorisations">
            <a href="#" class="btn-login">Войти</a>
            <a href="#" class="btn-registred">Регистрация</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>