footer
	.container-header
		.wrap-footer-content
			.wrap-logo
				img(src="img/logo.png" alt="logotip")
				span.logo-text LIGA-Online
			.wrap-footer-nav
				ul.footer-nav
					li
						i.icon-footer.icon-ico-trophy
						a(href="#") Сезоны
					li
						i.icon-footer.icon-ico-star
						a(href="#") Рейтинги
					li
						i.icon-footer.icon-Vector2
						a(href="#") Новости
					li.footer-item-mobile
						i.icon-footer.icon-icon-info
						a(href="#") О проекте
				ul.footer-nav
					li.footer-item-mobile-hidden
						i.icon-footer.icon-icon-info
						a(href="#") О проекте
					li.m0
						i.icon-footer.icon-ico-docs1
						a(href="#") Регламент
					li.footer-item-mobile
						i.icon-footer.icon-ico-faq
						a(href="#") FAQ
					li.footer-item-mobile
						a(href="#") Пользовательское соглашение
					li.footer-item-mobile
						a(href="#") Политика конфеденциальности
				ul.footer-nav
					li.footer-item-mobile-hidden
						a(href="#") Пользовательское соглашение
					li.footer-item-mobile-hidden
						a(href="#") Политика конфеденциальности
				.wrap-footer-social
					ul.footer-social
						li.footer-social__item Связь:
						li.footer-social__item
							a(href="#").icon-vk
								span.path1.path2.footer-vk
						li.footer-social__item
							a(href="#")
								span.icon-mail.footer-mail
									span.path1
									span.path2
									span.path3
									span.path4
									span.path5
			.copyright
				.copyright-title © Liga-Online, 2018
				.copyright-author Разработка сайта
					img(src="img/logo-brand.png" alt="logo-brand" width="114" height="21").logo-brand
