header.header.theme-shadow
	.container-header
		.wrap-top-menu
			.btn-back
			.wrap-logo
				img(src="img/logo.png" alt="logotip")
				span.logo-text LIGA-Online
			.wrap-top-nav
				ul.top-nav
					li.top-nav__item
						a(href="#") 
							i.icon-top.icon-ico-trophy
							|Сезоны
					li.top-nav__item
						a(href="#") 
							i.icon-top.icon-ico-star
							|Рейтинги
					li.top-nav__item
						a(href="#") 
							i.icon-top.icon-ico-setting
							|Админпанель
			.wrap-top-autorisation
				ul.top-autorisation
					li.top-autorisation__item
						a(href="#") Регистрация
					li.top-autorisation__item
						a(href="#") Вход
			.wrap-top-profile
				ul.top-profile
					li.top-profile__nickname
						a(href="#") Accont_nickname
					li.top-profile__logo
						a(href="#")
							img(src="img/avatar_profile.png" alt="avatar_profile")
			.btn-burger-mobile.burger-notification
				span.btn-burger
	.container-header
		.wrap-notifications
			.notification Уведомлений
				span.notification_num  3
			.wrap-rating
				ul.star-rating
					li.star-rating__item
						span.icon-star-full
					li.star-rating__item
						span.icon-ico-star
					li.star-rating__item
						span.icon-ico-star
					li.star-rating__item
						span.icon-ico-star
					li.star-rating__item
						span.icon-ico-star
				.rating Рейтинг: 700
.wrap-nav-mobile
	ul.nav-mobile
		li.icon-top.icon-ico-trophy
			a(href="#") Сезоны
		li.icon-top.icon-ico-star
			a(href="#") Рейтинги
		li.icon-top.icon-icon-person
			a(href="#") Профили
		li.icon-top.icon-mail-envelope-closed
			a(href="#") Уведомления
		li.icon-top.icon-ico-exit
			a(href="#") Выход


