mixin news-card-item (title, content)
	.news-card
		.header-news-card
			.title-date= title
			.news-card-content= content
		a(href="#").btn-news Читать подробнее
section
	.wrap-section-news
		.container-content
			h2.title-section Новости
			.wrap-news-cards
				.wrap-news-card.theme-boss
					+news-card-item ("08 Февраля 2018", "Глава немецкого футбольного союза раскритиковал киберфутбол")
				.wrap-news-card.theme-box
					+news-card-item ("07 Февраля 2018", "Германия признает киберспорт официальным видом спорта")
				.wrap-news-card.theme-teenager
					+news-card-item ("06 Февраля 2018", "16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18")
			.owl-carousel.owl-carousel-news
				.item
					.wrap-news-card.theme-boss
						+news-card-item ("08 Февраля 2018", "Глава немецкого футбольного союза раскритиковал киберфутбол")
				.item
					.wrap-news-card.theme-box
						+news-card-item ("07 Февраля 2018", "Германия признает киберспорт официальным видом спорта")
				.item
					.wrap-news-card.theme-teenager
						+news-card-item ("06 Февраля 2018", "16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18")
			.counter1.mb.counter