section
	.wrap-section-news
		.container-content
			h2.title-section Новости
			.wrap_news_cards
				.wrap-news_card.theme-boss
					.news_card
						.header_news_card
							.title_date 08 Февраля 2018
							.news-card-content Глава немецкого футбольного союза раскритиковал киберфутбол
						a(href="#").btn-news Читать подробнее
				.wrap-news_card.theme-box
					.news_card
						.header_news_card
							.title_date 07 Февраля 2018
							.news-card-content Германия признает киберспорт официальным видом спорта
						a(href="#").btn-news Читать подробнее
				.wrap-news_card.theme-teenager
					.news_card
						.header_news_card
							.title_date 06 Февраля 2018
							.news-card-content 16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18
						a(href="#").btn-news Читать подробнее
			.owl-carousel
				.item
					.wrap-news_card.theme-boss
						.news_card
							.header_news_card
								.title_date 08 Февраля 2018
								.news-card-content Глава немецкого футбольного союза раскритиковал киберфутбол
							a(href="#").btn-news Читать подробнее
				.item
					.wrap-news_card.theme-box
						.news_card
							.header_news_card
								.title_date 07 Февраля 2018
								.news-card-content Германия признает киберспорт официальным видом спорта
							a(href="#").btn-news Читать подробнее
				.item
					.wrap-news_card.theme-teenager
						.news_card
							.header_news_card
								.title_date 06 Февраля 2018
								.news-card-content 16-летний киберспортсмен выиграл первый крупный чемпионат по FIFA 18
							a(href="#").btn-news Читать подробнее
			.counter.mb