section
	.container-content
		h2.title-section Новые сезоны
		.wrap-section-cards
			.wrap-section-cards__item
				.wrap-card-header
					.card-header
						h3.title-card fast cup 1x1
						img(src="img/fast_cup.jpg" alt="fast_cup")
				.wrap-card-content
					ul.card-content
						li.card-content-item 
							span.icon-exclamation-solid
							| Набор игроков
						li.card-content-item 
							span.icon-ico-docs
							| до 9 Апреля
						li.card-content-item 
							span.icon-ico-star
							| > 1000
						li.card-content-item 
							span.icon-icon-people
							| 7/16
						li.card-content-item 
							span.icon-Vector-2
							| PlayStation 4
						li.card-content-item 
							span.icon-Vector-1
							| 10 Апреля - 12 Апреля
						li.card-content-item 
							span.icon-icon-person
							| Moderator
					a(href="#").card-content-btn перейти
			.wrap-section-cards__item
				.wrap-card-header.theme_drift
					.card-header
						h3.title-card fast cup 1x1
						img(src="img/fast_cup.jpg" alt="fast_cup")
				.wrap-card-content
					ul.card-content
						li.card-content-item 
							span.icon-exclamation-solid
							| Набор игроков
						li.card-content-item 
							span.icon-ico-docs
							| до 9 Апреля
						li.card-content-item 
							span.icon-ico-star
							| > 1000
						li.card-content-item 
							span.icon-icon-people
							| 7/16
						li.card-content-item 
							span.icon-Vector-2
							| Xbox One
						li.card-content-item 
							span.icon-Vector-1
							| 10 Апреля - 12 Апреля
						li.card-content-item 
							span.icon-icon-person
							| Moderator
					a(href="#").card-content-btn перейти
			.wrap-section-cards__item
				.wrap-card-header.theme-crue
					.card-header
						h3.title-card fast cup 1x1
						img(src="img/fast_cup.jpg" alt="fast_cup")
				.wrap-card-content
					ul.card-content
						li.card-content-item 
							span.icon-exclamation-solid
							| Набор игроков
						li.card-content-item 
							span.icon-ico-docs
							| до 9 Апреля
						li.card-content-item 
							span.icon-ico-star
							| > 1000
						li.card-content-item 
							span.icon-icon-people
							| 7/16
						li.card-content-item 
							span.icon-Vector-2
							| PC
						li.card-content-item 
							span.icon-Vector-1
							| 10 Апреля - 12 Апреля
						li.card-content-item 
							span.icon-icon-person
							| Moderator
					a(href="#").card-content-btn перейти

		.wrap-season-btns
			.wrap-season-btn
				.more-cards
					a(href="#").btn-more-cards Показать больше новых турниров
			.wrap-season-btn.theme_2
				.more-cards
					a(href="#").btn-more-cards.btn-theme_2 турниры в процессе
			.wrap-season-btn.theme_3
				.more-cards
					a(href="#").btn-more-cards.btn-theme_3 Завершенные турниры
		.owl-carousel
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти
			.item
				.wrap-section-cards__item
					.wrap-card-header
						.card-header
							h3.title-card fast cup 1x1
							img(src="img/fast_cup.jpg" alt="fast_cup")
					.wrap-card-content
						ul.card-content
							li.card-content-item
								span.icon-slider.icon-exclamation-solid
								span.text-gray.content-title Статус:
								span.item-text.theme_text_green Набор игроков
							li.card-content-item
								span.icon-slider.icon-ico-docs
								span.content-title Регистрация:
								span.item-text до 25 Марта
							li.card-content-item
								span.icon-slider.icon-ico-star
								span.content-title Допустимый рейтинг:
								span.item-text Любой
							li.card-content-item
								span.icon-slider.icon-icon-people
								span.content-title Игроков:
								span.item-text 7/32
							li.card-content-item
								span.icon-slider.icon-Vector-2
								span.content-title Платформа:
								span.item-text PlayStation 4
							li.card-content-item
								span.icon-slider.icon-Vector-1
								span.content-title Дата:
								span.item-text 26 Марта - 29 Апреля
							li.card-content-item
								span.icon-slider.icon-icon-person
								span.content-title Хост:
								span.item-text Admin
						a(href="#").card-content-btn перейти

			
		.counter